p, blockquote, pre, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, dt, dd, li{
  max-width: 100%;
}
form input[type="submit"]{
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color : $white;
  &:focus,
  &:hover{
    color: white;
    background: #58b7ea;
    text-shadow: 0 1px 0 #1a3646;
  }
}
//Defining the outer region for page template
.mainContentRegion{
  margin: auto;
  padding-right: $mobile-container-padding; // Provding  left column spacing for mobile
  padding-left: $mobile-container-padding; // Provding right column spacing for mobile
  max-width: $mobile-container - (2 * $mobile-container-padding); // Seeting the max width to fit in th 4 col layout
  @extend %bookFont;
  font-size: 14pt;
  color : $navy;
  @inlcude box-sizing(border-box);
  @media #{$large-screen}{ // Overriding the mobile css
    padding-right: $desktop-container-padding; // Provding right column spacing for mobile
    padding-left: $desktop-container-padding; // Provding right column spacing for mobile
    //max-width: $desktop-container - (2 * $desktop-container-padding);
    max-width: 100%;
    font-size: 12pt;
  }
  img, video, audio, figure{
    margin: 0;
  }
}

//Defining innner content region as a Susy container
.contentRegionInner{
  @include container($mobile-container - (2 * $mobile-container-padding)); // Defining the susy grid 4 col for mobile layout
  @include susy-breakpoint($bp , $susy-l) { // Overriding the susy grid settings at breakpoint $bp;
    @include container($desktop-container - (2 * $desktop-container-padding)); // Re initialissing the container to use 12 grid col
  }
}

.vertical-tabs-panes{
  .form-item{
    text-align: left;
    width: 375px;
    select{
      width: 100%;
    }
    &.form-type-plupload{
      width: 100%;
    }
    &.form-item-animation-theme{
      .description{
        display: block;
        margin-left: 1.9em;
      }
    }
  }
  .form-media{
    .edit,
    .browse{
      display: inline-block !important;
      background: #2fa6e5;
      text-shadow: 0 1px 0 #0e3144;
      color : $white;
      &:focus,
      &:hover{
        color: white;
        background: #58b7ea;
        text-shadow: 0 1px 0 #1a3646;
      }
    }
  }
}
.vertical-tabs{
  ul.vertical-tabs-list {
    li.selected{
      a{
       background-color: transparent !important;
      }
    }
  }
}

#edit-animation{
  .form-item{
    clear: both;
    width: 80%;
    label{
      float: left;
      min-width: 200px;
      margin: 10px 20px 10px 0;
    }
    input,
    select{
      width: 200px;
    }
    &.form-item-animation-theme{
      overflow: auto;
      .form-type-radio,
      input{
        width: auto;
      }
      label{
        min-width: initial;
        float: none;
        margin: 0 .1em;
      }
    }
  }
}
#edit-image-slides{
  .vertical-tabs-list{
    .vertical-tab-button{
      text-align: center;
    }
  }
}
input, textarea, keygen, select, button,
h3,
h4,
h1,
h2,
h5,
h6,
dt,
th,
label,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
[class*="action-item"],
.button,
[id^="edit-cancel"],
input[id^="edit-submit"],
input[id^="edit-next"],
.fake-submit{
  @extend %bookFont;
}


.adminimal-frontend{
    @extend %bookFont;
}
.ui-icon-loading{
  display: none;
}
// #edit-country-select-button{
//   .form-select{
//     display: none;
//   }
// }
