.node-type-homepage-fila{
  &.html{
    background: $white;
  }
  .ui-loader{
    display: none;
  }
  .nivoSlider{
    .field-collection-view-links{
      display: none;
    }
  }
}
#block-fila-admin-homepage-country-select{
  margin: -2px 0 0 20px;
  float: left;
}
.section_header{
  background-color: #444;
  margin: 0;
  padding: 0.5rem 1rem;
  color: #bbb;
  font-size: 24px;
  cursor: pointer;
  clear: both;
  .qtip-div{
    color: $white;
    float: right;
    font-size: 26px;
    margin: 0px 5px;
    font-weight: bold;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: $navy;
      background: $white;
    }
  }
}
div.vertical-tabs{
  margin-top: 0;
  .vertical-tabs-pane{
    padding: 10px;
    legend{
      display: none;
    }
    #edit-image-slides-image-tab-1{
      .fieldset-wrapper{
        text-align: right;
      }
    }
  }
}

#fila-admin-homepage-form{
  background: #fff;

}
.vertical-tabs-pane div.form-item{
  margin-bottom: 10px;
}

.breadcrumb{
  padding: 5px 0 20px 0;
}


#block-system-user-menu{
  float: right;
}
#branding .primary,
#branding .secondary{
  clear: both;
}

.logo-container{
  margin-bottom: 15px;
}

#block-system-user-menu{
  margin-top: 15px;
  .content {
    .menu{
      margin: 0;
      padding: 0;
    }
    &>.menu{
      li{
        position: relative;
        float: left;
        margin-left: 10px;
        list-style: none;
        a{
          color: white;
          font-weight: bold;
          padding: 5px 8px 5px 30px;
          text-decoration: none;
          cursor: pointer;
          &:hover{
            background-color: #333;
          }
        }
        &:first-child {
          .extra-wrapper{
            &> a{
              background-image: url(../img/tools_setup-white.png);
              background-position :5% 50%;
              background-repeat: no-repeat;
              background-size: 22px;
              margin-right: 10px;
              float: left;
            }
          }
        }
        &:last-child{
          &>a{
            background-image: url(../img/logout-white.png);
            background-position :5% 50%;
            background-repeat: no-repeat;
            background-size: 18px;
          }
          &:before{
            border-left: 2px solid white;
            width: 0;
            height: 18px;
            content: '';
            position: absolute;
            top : 0;
            left: -7px;
          }
        }
      }
      .expanded{
        float: left;
        margin: 0 0 0 10px;
        width: 77px;
        overflow: hidden;
        &>.menu{
          display: none;
        }
        @include transition(all 0.3s ease-in-out);
        .extra-wrapper{
          width: 250px;
          overflow: hidden;
          &> .menu{
            float: left;
            width: 162px;
            li{
              padding: 5px 0;
              margin: 0;
              list-style: none;
              float: left;
              &:first-child{
                &> a{
                  background-image: url(../img/users-white.png);
                  background-position :5% 50%;
                  background-repeat: no-repeat;
                  background-size: 18px;
                }
                &:before{
                  border: 0;
                }
              }
              &:last-child{
                &> a{
                  background-image: url(../img/assets-white.png);
                  background-position :5% 50%;
                  background-repeat: no-repeat;
                  background-size: 18px;
                }
                &:before{
                  border: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}



#user-login{
  text-align: center;
  > div{
    text-align: left;
    display: inline-block;
  }
}

form .form-item{
  padding : 5px 0;
}

.region-header #fila-admin-block-user-country{
  font-size: 30px;
  padding: 5px;
  color: white;
}


#fila-admin-assets-form,
#fila-admin-homepage-form-simple{
  background: #fff;
  padding-bottom: 30px;
  fieldset.form-wrapper legend,
  .form-item{
    padding: 20px 20px 5px 20px;
    & + .form-item{
      padding: 5px 20px;
    }
  }
}
#fila-admin-assets-form{
  position: relative;
  .form-submit{
    background: #2fa6e5;
    text-shadow: 0 1px 0 #0e3144;
    color : $white;
    &:focus,
    &:hover{
      color: white;
      background: #58b7ea;
      text-shadow: 0 1px 0 #1a3646;
    }
  }
}

#user-register-form {
  position: relative;
  .form-wrapper{
    position: relative;
    background: $white;
    padding: 20px 20px 30px 20px;
    &> .form-item{
      padding: 5px 0;
    }
    .form-wrapper{
      padding: 0;
    }
  }
  .form-actions.form-wrapper{
    position: absolute;
    top: 110px ;
    right: 20px;
  }
}
form{
  .messages{
    clear: both;
  }
}
#add-user-manage-users{
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: white;
  padding: 0;
  a{
    padding: 10px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    &:focus,
    &:hover{
      color: white;
      background: #58b7ea;
      text-shadow: 0 1px 0 #1a3646;
    }
  }
}
#assets-form-add-button{
  text-align: right;
}
#assets-form-add-button a,
#homepage-form-back-button a{
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
  font-weight: bold;
  &:hover{
    color: white;
    background: #58b7ea;
    text-shadow: 0 1px 0 #1a3646;
  }
}

.view-manage-users .view-header p{
  text-align: right;
}

#user-profile-form > div > .form-wrapper{
    position: relative;
    background: #fff;
    padding: 20px 20px 10px 20px;
}
#user-profile-form > div > .form-wrapper.form-actions{
  padding: 0 20px 30px 20px;
}

#edit-upload-upload .form-submit{
  display: none;
}

.form-type-media .preview .media-item{
  display: inline-block;
}

.user-info-from-cookie{
  .homepage-form-button{
    a{
      background: #2fa6e5;
      text-shadow: 0 1px 0 #0e3144;
      color: #fff;
      padding: 10px 15px;
      display: inline-block;
      text-decoration: none;
      margin: 0 0 1rem 0;
      &:hover{
        color: white;
        background: #58b7ea;
        text-shadow: 0 1px 0 #1a3646
      }
    }
  }
}

.sec1 .slides li{
  @media #{$small-screen}{
    overflow: hidden;
  }
}
.sec1 .slides li iframe,
.sec1 .slides li img{
  @media #{$small-screen}{
    height: 353px !important;
    max-width: initial !important;
    position: relative;
  }
}
.sec1 .slides .fluid-width-video-wrapper{
  @media #{$small-screen}{
    padding: 0 !important;
    line-height: 0;
  }
}

.sec1 .slides li img{
  @media #{$small-screen}{
    width: auto !important;
  }
}

#skip-link{
  display: none;
}
.mainContentRegion{
  position: relative;
  z-index: 0;
}
.status-switch{
  margin: 3px 10px;
}
