/**
  * This file contains intial configuration about the susy grid layout and
  * Media Queries.
 ***/

// Declaring the initial variables
$breakpoint : 960px;

$mobile-container : 640;
$mobile-container-padding: 0;

$desktop-container: 1366px;
$desktop-container-padding: 0;
$sp-breakpoint : 640px;

/**
  * SUSY SETTINGS
 **/
  // debug: (
  //   image: hide,
  //   color: red,
  //   output: overlay,
  //   toggle: top right,
  // ),
//Initial settings for mobile layout
$susy:(
  columns: 4,
  gutters: 20/124,
  output: float,
  gutter-position: after,

);

// Initial settings for desktop layout
$susy-l: (
  columns: 12,
  gutters: 20/88,
  output: float,
  gutter-position: after,
);

/**
  * Declaring spacing variable
***/

// left and right spacing for mobile layout
$left_most_gutter-width-s : $mobile-container-padding;
$right_most_gutter-width-s : $mobile-container-padding;

// left and right spacing for desktop layout
$left_most_gutter-width-l : $desktop-container-padding;
$right_most_gutter-width-l : $desktop-container-padding;

/**
  * Declaring the breakpoint
***/

$bp : $breakpoint;

// Creating a shorcut for media query
$large-screen :  'screen and (min-width : #{$bp})'; // apply breakpoint using : @media #{$large-screen}
$small-screen :  'screen and (max-width : #{$sp-breakpoint})'; // apply breakpoint using : @media #{$large-screen}
