@font-face {
  font-family: 'NimbusRegular';
  src: url('../fonts/NimbusRegular.eot');
  src: url('../fonts/NimbusRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NimbusRegular.woff') format('woff'),
       url('../fonts/NimbusRegular.ttf')  format('truetype')
     }
@font-face {
  font-family: 'NimbusBold';
  src: url('../fonts/NimbusBold.eot');
  src: url('../fonts/NimbusBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NimbusBold.woff') format('woff'),
       url('../fonts/NimbusBold.ttf')  format('truetype')
     }

%bookFont{
  font-family:"NimbusRegular", Calibri, Arial, Roboto, sans-serif;
  font-weight:300;
  font-style:normal;
}

%boldFont{
  font-family:"NimbusBold", Calibri, Arial, Roboto, sans-serif;
  font-weight:bold;
  font-style:normal;
}

%italicFont {
  font-family:"NimbusRegular", Calibri, Arial, Roboto, sans-serif;
  font-weight:200;
  font-style:italic;
}


%mediumFont {
  font-family:"NimbusRegular", Calibri, Arial, Roboto, sans-serif;
  font-weight:normal;
  font-style:normal;
}
