
.sec4{
  overflow: hidden;
  text-align: center;
  .section-half{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: $white;
    position: relative;
    @media #{$large-screen}{
      width: 50%;
      float: left;
      max-width: 100%;
    }
    img{
      max-width: 100%;
      height: auto;
      float: left;
    }
    .sec3-overlay{
      position: absolute;
      top: 45%;
      left: 42px;
      font-size: 32px;
      max-width: 403px;
      text-align: left;
      @media #{$large-screen}{
        left: 45px;
        font-size: 42px;
      }
      div{
        line-height: 1;
      }
      .explore{
        margin-top: 25px;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
      }
    }
    .close-button{
      position: absolute;
      top: 20px;
      right: 20px;
      color: $navy;
      font-size: 12px;
      @media #{$large-screen}{
        font-size: 14px;
      }
      font-weight: lighter;
      z-index: 1010;
      cursor: pointer;
      .close-btn{
        background: url('../img/close.png') 50% 50% no-repeat;
        display: block;
        width: 100%;
        height: 34px;
        background-size: 24px 24px;
        background-position: 50% 70%;
      }
    }
    &.men-section{
      color: $white;
      position: relative;
      display: inline-block;
      text-align: center;
      @media #{$large-screen}{
        display: block;
      }
      .section-items{
        left: 0;
        text-align: left;
        @media #{$large-screen}{
          left: 100%;
        }
      }
    }
    &.women-section{
      color: $navy;
      display: inline-block;
      @media #{$large-screen}{
        display: block;
      }
      background: $white;
      .section-items{
        left: 0;
        text-align: left;
        @media #{$large-screen}{
          left: -100%;
        }
      }
    }
    .section-items{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 10px 9.224011% 38px 14.348462%;
      z-index: 10;
      @include box-sizing(border-box);
      background: $white;
      display: none;
      .item{
        float: left;
        // width: 28.696925%;
        // margin-right: 19.033674%;
        width: 25.6%;
        margin-right: 40.033674%;
        @media screen and (min-width: 700px){
          width: 37.6%;
          margin-right: 23.033674%;
        }
        color: $navy;
        font-size: 13px;
        @media #{$large-screen}{
          height: 255px;
          width: 37.6%;
          margin-right: 23.033674%;
        }
        @media screen and (min-width: 1100px){
          height: 334px;
        }
        &:nth-child(2n+1){
          margin-right: 0;
        }
        a{
          color: $navy;
          background: $white;
          display: block;
          text-decoration: none;
          font-weight: bold;
          @include transition(all 0.3s ease-in-out);
        }
        .money-wrapper{
          margin-bottom: 30px;
          @media #{$large-screen}{
            margin-right: 0;
          }
        }
      }
    }
    .shop-all-link{
      clear: both;
      text-align: center;
      @media #{$large-screen}{
        position: absolute;
        bottom: 38px;
        width: 100%;
        left: 0;
      }
      a{
        color :$navy;
        text-decoration: underline;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
