    .flexslider{
      .flex-control-paging{
        li{
          margin: 0;
          a{
            margin : 0 7px;
            &.flex-active{
              color: $navy;
            }
          }
        }
      }
    }
.sec3-inner{
  background: $white;
  padding : 74px 42px 73px 42px;
  @media #{$large-screen}{
    padding : 74px 45px 74px 63px;
  }
  position: relative;
  .flexslider,
  .nivoSlider{
    width: 100%;
    overflow: visible !important;
    position: relative;
    border: 0;
    margin-bottom: 35px;
    @media #{$large-screen}{
      width: 72.575516%;
    }
    &:hover{
      .flex-direction-nav{
        .flex-prev{
          left: -35px;
        }
        .flex-next{
          right: -35px;
        }
      }
    }
  }
  .lookbook-theme{
    .flexslider{
      .flex-control-paging{
        @media #{$large-screen}{
          display: none;
        }
      }
    }
    .flex-direction-nav,
    .nivo-directionNav{
      display: block;
      a{
        text-indent: -99999px;
        width: 74px;
        height: 12px;
        top : 30%;
        background-size: cover !important;
        &:focus{
          outline: none;
        }
      }
      .flex-prev,
      .nivo-prevNav{
        display: none;
        text-indent: -9999999px;
        color: transparent;
        opacity: 0.7;
        @media #{$large-screen}{
          display: block;
        }
        background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
        background-size : 100%;
        left: -30px;
        &:hover{
          left: -40px;
        }
        &:before{
          content: none;
        }
      }
      .flex-next,
      .nivo-nextNav{
        display: none;
        text-indent: -9999999px;
        color: transparent;
        opacity: 0.7;
        @media #{$large-screen}{
          display: block;
        }
        background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
        background-size : 100%;
        right: -30px;
        &:hover{
          right: -40px;
        }
        &:before{
          content: none;
        }
      }
    }
    .nivo-controlNav{
      display: none;
    }
  }
  .slider-right-side-text,
  .flexslider-caption{
    position: relative;
    color: $navy;
    background: transparent;
    margin-top: 40px;
    h2{
      text-transform: capitalize;
      color : $navy;
    }
    @media #{$large-screen}{
      margin: 0;
      position: absolute;
      left: 104.6%; // giving extra spacing
      width: 33.187294%;
      bottom: 0;
    }
    .synopsis{
      font-style: italic;
      font-weight: lighter;
      line-height: 1;
      margin-bottom: 5px;
    }
    .synopsis-main-text{
      h2{
        text-decoration: underline;
        font-size: 32px;
        line-height: 1.3em;
        margin-bottom: 35px;
      }
      p{
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.2;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .sec3-wrapper{
    position: relative;
    .slider-right-side-text{
      @media #{$large-screen}{
        left: 76.4%;
        bottom : 0;
        top: auto;
        width: 23%;
      }
    }
  }
  &.five-stories{
    .slides{
      position: relative;
    }
    .flex-direction-nav{
      display: none;
    }
    .flex-control-paging,
    .nivo-controlNav{
      position: relative;
      margin: 10px 0;
      padding :0;
      z-index: 100;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      @media #{$large-screen}{
        left: 104.6%;
        margin: 0;
        top : 5% !important;
        width: 33.333%;
        text-align: left;
      }
    }
    .flex-control-paging li a,
    .nivo-control{
      text-indent: 0;
      margin: 0 8px;
      -webkit-box-shadow : none;
      -moz-box-shadow : none;
      -ms-box-shadow : none;
      -o-box-shadow : none;
      box-shadow: none;
      @include rounded(100%);
      color: transparent;
      padding: 1px 0.5px;
      height: 10px;
      display: inline-block;
      background: $light-grey;
      @media #{$large-screen}{
        margin: 3px;
        color: $navy;
        padding: 2px 7px;
        display: inline;
        height: auto;
        background: transparent;
      }
      font-size: 14px;
      &.flex-active{
        background: $navy;
        font-weight: normal;
        font-style: italic;
        color: transparent;
        @media #{$large-screen}{
          padding: 2px 7px 2px 5px;
          color: $white;
        }
      -webkit-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
         -moz-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
           -o-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
              transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
      -webkit-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
         -moz-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
           -o-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
              transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
      }
    }
  }
}
