.sec2{
  background: $light-grey;
  position: relative;
  @media #{$large-screen}{
    margin-top: -70px;
  }
  .jspDrag:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 25%;
      width: 1px;
      height: 50%;
      background-color: $light-grey ;
      z-index: 10;
      -webkit-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
         -moz-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
          -ms-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
           -o-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
              box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
  }
  .sec2-content{
    overflow: hidden;
    outline: none;
    line-height: normal;
    @media #{$large-screen}{
      height: 721px;
    }
  }
  .jspContainer{
  }
  .jspHorizontalBar{
    height: 13px;
  }
  .jspTrack{
    background: $light-grey;
    .jspDrag{
      background: $navy;
    }
  }
  .image-container{
    position: relative;
    img{
      position: absolute;
      left: 0;
      bottom: 0;
      @media #{$large-screen}{
        position: relative;
      }
    }
    &.l{
      width: 588px;
      // height: 392px;
      @media #{$large-screen}{
        width: auto;
        height: auto;
      }
    }
    &.p{
      width: 364px;
      // height: 546px;
      @media #{$large-screen}{
        width: auto;
        height: auto;
      }
    }
  }
  .sec2-inner{
    position: relative;
    @media #{$large-screen}{
      margin-left: 64px;
      padding-top: 0;
    }
    display: inline-block;
  }
  .sec-item{
    float: left;
    // margin-right: 97px;
    @media #{$large-screen}{
      margin-right: 60px;
    }
    .detail-container{
      height: 140px;
      margin-left: 20%;
      @media #{$large-screen}{
        height: 150px;
        margin-left: 0;
      }
      color: $navy;
      .synopsis-main-text{
        @extend %boldFont;
        line-height: 1.5em;
        text-decoration: underline;
        font-size: 24pt;
        a{
          color: $navy;
        }
      }
    }
    .synopsis-header{
      padding-top: 20px;
      @extend %italicFont;
      font-size: 18pt;
    }
    .images-processed{
      position: relative;
      // iframe,
      // video,
      .image-asset{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;
        background: $black;
        width: 100%;
      }
    }
    .play-pause-btn{
      // @media screen and (max-width: 980px){
      //   display: none !important;
      // }
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 250;
      background: url(../img/play-w.png) center center no-repeat;
      cursor: pointer;
      &:hover{
        background: url(../img/play-b.png) center center no-repeat;
        -webkit-transition : all 0.2s ease-in-out;
        -moz-transition : all 0.2s ease-in-out;
        -ms-transition : all 0.2s ease-in-out;
        -o-transition : all 0.2s ease-in-out;
        transition : all 0.2s ease-in-out;
      }
    }
  }
  .info-wrapper{
    text-transform: uppercase;
    position: absolute;
    top : 45%;
    left: 45%;
    z-index: 2000;
    overflow: hidden;
    @include rounded(100%);
    @extend %boldFont;
    .info-inner{
      background: $white;
      color: $navy;
      width: 123px;
      height: 123px;
      opacity: 0.8;
    }
    .rounded-info{
      width: 80px;
      padding: 45px 25px;
      text-align: center;
      line-height: 1.2em;
      // background: url('../img/dragger-icons.png') 50% 93% no-repeat;
    }
  }
}
.sec2-inner{
  position: relative;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &.dragging-enabled{
    cursor: pointer;
  }
  .sec-item{
    .playing{
      .play-pause-btn{
        background-image: none;
      }
    }
    .overlay-image{
      // @media screen and (max-width: 980px){
      //   display: none !important;
      // }
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: none;
      z-index: 225;
      &.show-images{
        display: block;
      }
    }
  }
}

// .sec2-content{
//   zoom : 0.75;
//   @media #{$large-screen}{
//     zoom : 1;
//   }
// }
